@media all and (min-width: 1000px) {
	header {
		background: url(images/bg_header.jpg) no-repeat;
		background-position: bottom;
		background-size: 100% auto;
	}
}

@media all and (min-width: 0) and (max-width: 1000px) {
	header {
		background: url(images/bg_header_min.jpg) no-repeat;
	}
}

@media all and (max-width: 1308px) {
	header {
		background-size: auto 100%;
	}
	footer nav a {
		display: inline-block;
		margin: 0 2em;
		color: white;
		border-bottom: 2px #f34c55 solid;
		text-decoration: none;
	}
}

@media all and (max-width: 1219px) {
	.to_top {
		display: none;
	}
}

@media all and (max-width: 1040px) {
	header {
		background: url(images/bg_header_min.jpg) no-repeat;
		background-size: auto 100%;
	}
	nav a {
		margin-left: 3em !important;	
	}
	footer nav a {
		display: inline-block;
		margin: 10px 0 0 0;
		color: white;
		border-bottom: 2px #f34c55 solid;
		text-decoration: none;
	}
	.table {
		width: 100%;
		font-size: 1em;
	}
}

@media all and (max-width: 933px) {
	.price_block aside {
		height: 7em;
		width: 9%;
		float: left;
	}
	.price {
		margin-bottom: 2em;
	}
}

@media all and (max-width: 780px) {
	.price .time:first-of-type {
		border: none;
	}
}

@media all and (max-width: 679px) {
	header {
		background-size: auto 100%;
	}
	nav a {
		margin-left: 1em !important;	
	}
	.table {
		font-size: 0.9em;
		padding: 1em 0 0 0 !important;
	}
}

@media all and (max-width: 626px) {
	.price_block aside {
		height: 8em;
	}
	.price {
		left: 1em;
	}
}

@media all and (max-width: 583px) {
	.price_block:first-of-type aside {
		width: 100%;
		height: auto;
		margin-bottom: 1em;
		text-align: center;
		float: none;
		border-top: none;
	}
	.price_block aside {
		width: 100%;
		height: auto;
		margin-bottom: 1em;
		padding-top: 2em;
		text-align: center;
		float: none;
		border-top: 1px grey solid;
	}
	.time_block {
		width: 100% !important;
		position: relative;
		left: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.price {
		left: 0;
	}
}

@media all and (max-width: 530px) {
	header {
		background-size: auto 100%;
		background-position: 90% 0;
	}
	header nav {
		position: relative;
		left: 0;
	}
	nav a {
		margin-left: 0 !important;	
	}
	.present {
		width: 80px
	}
	.logo h2 {
		left: -30px;
		top: 65px;
	}
	.description {
		font-size: 1.3rem;
		width: 100%;
		position: absolute;
		bottom: 35px;
		left: 0;
		background: none;
		background-position: left center;
		background-size: 140px auto;
		padding-left: 10px;
	}
	.time {
		width: 2.9em;
		border: none;
		padding: 0 !important;
		display: block !important;
		float: right !important;
	}
	.price .time:first-of-type:before {
		display: none;
	}
}

@media all and (max-width: 430px) {
	.price_block aside {
		height: auto;
		text-align: center;
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.time_block {
		width: 80%;
		float: none;
	}
}

@media all and (max-width: 385px) {
	header nav {
		position: relative;
		left: 0;
	}
	nav a {
		margin-bottom: -15px
	}
	.key {
		position: relative;
		top: -18px;
	}
	.logo {
		background-size: 250px auto;
		margin: -2.5em auto 0 auto;
		padding-left: 0;
		position: relative;
		left: 20px;
	}
	.logo h2 {
		left: -60px;
		top: 65px;
	}
	.price_block aside {
		text-align: center;
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.time_block {
		width: 80%;
		float: none;
	}
}

@media all and (max-width: 350px) {
	.time {
		width: 2.7em;
		font-size: 1em;
	}
	footer nav a  {
		width: 100vw;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: 0.7em 0 0 0;
	}
}

@media all and (max-width: 318px) {
	.contacts {
		position: relative;
		top: -18px;
	}
}


/* Table responsive */



/* Table responsive end */