@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'AleksandraC';
    src: local('AleksandraCRegular'), url('fonts/aleksandracregular.woff2') format('woff2'), url('fonts/aleksandracregular.woff') format('woff'), url('fonts/aleksandracregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Basic */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

a {
	outline: none;
	color: white;
}

html {
	overflow-x: hidden;
	font-family: Arial;
	background: #261926;
	color: white;
}


/* Basic end */


/* Header */

header {
	width: 100%;
	min-height: 758px;
	max-height: 1060px;
	background-position: bottom;
	background-size: 100% auto;
	color: white;
	position: relative;
}

.logo {
	width: 300px;
	height: 146px;
	background: url(images/logo.png) no-repeat;
	background-size: 300px auto;
	margin: 0.5em auto 0 auto;
	padding-left: 10px;
}

.logo h2 {
	width: 30px;
	height: 30px;
	font-size: 1em;
	font-weight: 400;
	float: right;
	position: relative;
	left: 70px;
	top: -15px;
	background: url(images/flag.png) no-repeat;
	background-size: 20px auto;
	text-align: right;
	padding-left: 30px;
	padding-top: 2px;
	font-size: 0.8em;
}

.description {
	font-size: 1.2rem;
	width: 55%;
	position: absolute;
	bottom: 35px;
	left: 2rem;
	background: url(images/saw.png) no-repeat;
	background-position: left center;
	background-size: 140px auto;
	padding-left: 170px;
	font-family: 'AleksandraC';
}

h1 {
	font-weight: 400;
	font-family: 'Comfortaa';
	margin-bottom: 0.2em;
}

/* Header end */


/* Navigation */

nav {
	text-align: center;
	padding-top: 10px;
	position: relative;
	left: -25px;
}

header nav a {
	height: 60px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-left:  5.1rem;
	padding-top: 40px;
	background-position: top center;
	font-size: 0.8em;
}

/* background-position need in each(!) a */

header nav a:nth-of-type(1) {
	background: url(images/world.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(2) {
	background: url(images/calendar.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(3) {
	background: url(images/star.png) no-repeat;
	background-position: top center;
	position: relative;
}

header nav a:nth-of-type(4) {
	background: url(images/search.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(5) {
	background: url(images/location.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(6) {
	background: url(images/key.png) no-repeat;
	background-position: top center;
}

/* Navigation end */


/* Main */

main {
	width: 100%;
	background: linear-gradient(to bottom, #251926, #c22e36);
	position: relative;
	font-family: 'Comfortaa';
}

main h2 {
	font-weight: 400;
	margin-top: 25px;
	text-align: center;
	font-size: 1.7em;
}

.date {
	display: block;
	margin-top: 10px;
	font-size: 1.3em;
	text-align: center;
}

/* Main end */


/* Table */

.table {
	width: 60em;
	min-height: 20em;
	background: white;
	margin: 2em auto 0 auto;
	color: black;
	padding: 1.7em 0 0.3em 0.9em;
	font-size: 1.3em;
	font-family: 'Comfortaa';
}

.price_block {
	width: 100%;
	display: block;
	margin-bottom: 2.5em;
}

.price_block aside {
	width: 12%;
	float: left;
}

.time_block {
	width: 100%;
}

.price {
	display: inline-block;
	position: relative;
	left: 1.9em;
}

.bottom_price {
	text-align: center;
	position: relative;
	top: 1.2em;
	color: #c13037;
	background: url(images/line.png) repeat-x;
	background-position: 0 34%;
}

.time {
	width: 4.1em;
	height: 1.4em;
	display: block;
	float: left;
	font-size: 1.1em;
	text-align: center;
	border-left: 1px #c13037 solid;
}

.price .time:first-of-type {
	width: 3.45em;
	padding: 0 0.8em 0 0;
}

.price:first-of-type  .time:first-of-type {
	width: 3.45em;
	padding: 0 0.8em 0 0;
	border: none;
}

.price .time:first-of-type:before {
	content: "";
	width: 0.655em;
	height: 0.65em;
	display: inline-block;
	position: relative;
	background: url(images/small_circle.jpg) no-repeat;
	background-size: 100% 100%;
	top: 1.29em;
	left: -0.55em;
	z-index: 5;
}



/* Table end */


/* Footer */

footer {
	width: 100%;
	padding-top: 5em;
	padding-bottom: 4em;
	position: relative;
	font-family: 'Comfortaa';
}

footer nav a {
	display: inline-block;
	margin: 0 2.8em;
	color: white;
	border-bottom: 2px #f34c55 solid;
	text-decoration: none;
}

footer .labirint {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.to_top {
	width: 100px;
	height: 100px;
	background: url(images/to_top.png);
	background-size: 100% auto;
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 250px;
}

/* Footer end */





/* Booking */

.time {
	transition: all 0.7s;
	cursor: pointer;
}

.time:hover {
	background: #C5232B;
}

/* Booking end */



/* Modal window */


.modal_block {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.93);
	position: fixed;
	display: none;
	top: 0;
	display: ;
	z-index: 5;
}

.modal_block * {
	font-family: 'Comfortaa', cursive;
}

.modal_window {
	width: 1053px;
	height: 321px;
	background: #993333;
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -158.5px 0 0 -524.5px;
	box-sizing: border-box;
	border: 3px white solid;
	border-radius: 5px;
	text-shadow: 0 0 3px black, 0 0 3px black;
}

/* Left aside */

.left_aside {
	width: 50%;
	height: 100%;
	background: url(images/modal/border.png) no-repeat, url(images/bg_header.jpg) no-repeat;
	background-size: auto 100%, auto 100%;
	background-position: right, 0;
	float: left;
}

.quest_name {
	width: 100%;
	margin: 0 auto !important;
	text-align: left;
	padding: 30px 0 0 36px;
	font-size: 21px;
}

.modal_description {
	width: 390px;
	min-height: 95px;
	margin-top: 4.3em;
	padding: 10px 0 0 109px;
	background: url(images/modal/food.png) no-repeat 15px 5px;
	background-size: auto 85px;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.close_icon {
	width: 35px;
	height: 35px;
	background: url(images/remove-button.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 50%;
	top: 50%;
	z-index: 10;
	margin: -190px -570px 0 0;
	cursor: pointer;
}

.recomendation {
	position: relative;
}

.recomendation:after {
	content: "";
	width: 153px;
	height: 1px;
	background: white;
	position: absolute;
	left: 0;
	top: 23px;
}

.left_aside address {
	position: absolute;
	left: 25px;
	bottom: 5px;
	font-style: normal;
}

address * {
	padding-left: 30px;
	display: block;
	min-height: 25px;
	text-decoration: none;
}

address a {
	background: url(images/modal/tel.png) no-repeat 0 2px;
	background-size: auto 80%;
	margin-bottom: 3px;
}

.address_pos {
	background: url(images/modal/geo.png) no-repeat 0 2px;
	background-size: auto 80%;
}

/* Right aside */

.right_aside {
	width: 50%;
	height: 100%;
	background: #190915;
	float: right;
}

.time_block_modal {
	margin: 1em 0 0 2em;
	float: left;
}

.right_aside h3 {
	font-size: 1.2em;
}

.input_block {
	margin: 1.4em 1em 0 0;
	float: right;
}

.input_block form * {
	width: 15em;
	min-height: 2em;
	display: block;
	margin-bottom: 1em;
	border: 1px white solid;
	border-radius: 7%/50%;
	background: none;
	color: white;
	padding-left: 1em;
}

.cost {
	clear: both;
	display: block;
	padding: 0 0 0 2.7em;
}

.cost div {
	padding: 0.3em 0 0 1.5em;
}


/* Slider */

.slider {
	width: 200px;
	position: absolute;
	right: 25px;
}

.slider_track {
	text-align: center;
}

.slider_track h2 {
	margin: -3em 0 1em 0;
	font-size: 0.89em;
}

.result_slider {
	margin: -0.5em 0 0 0;
}

.inp_range {
	position: relative;
	left: -10px;
}

.book_modal {
	width: 240px;
	height: 27px;
	box-sizing: border-box;
	display: block;
	text-align: center;
	background: #2b1227;
	border: 1px white solid;
	border-radius: 5%/50%;
	color: white;
	cursor: pointer;
	position: absolute;
	bottom: 12px;
	right: 170px;
	transition: all 0.5s;
}

.book_modal:hover {
	background: #4c2446;
}

input:focus {
	outline: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  margin-left: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* Circle */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #4c2446;
  cursor: pointer;
  margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #4c2446;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #4c2446;
  cursor: pointer;
}

/* Track */

input[type=range]::-webkit-slider-runnable-track {
	box-shadow: 0 0 1px #2a1325, 0px 0px 1px #2a1325;
  	width: 100%;
 	height: 5px;
 	cursor: pointer;
 	background: #2a1325;
 	border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2a1325;
  box-shadow: 0 0 1px #2a1325, 0px 0px 1px #2a1325;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #2a1325;
  border-radius: 1.3px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a1325;
  border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #2a1325;
}

input[type=range]::-ms-fill-upper {
  background: #2a1325;
  border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2a1325;
}


/* Modal window end */