/* Basic */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
}

a {
	outline: none;
	color: white;
}

html {
	overflow-x: hidden;
	font-family: Arial;
	background: #261926;
	color: white;
}


/* Basic end */


/* Header */

header {
	width: 100%;
	min-height: 758px;
	max-height: 1060px;
	background-position: bottom;
	background-size: 100% auto;
	color: white;
	position: relative;
}

.logo {
	width: 300px;
	height: 146px;
	background: url(images/logo.png) no-repeat;
	background-size: 300px auto;
	margin: 0.5em auto 0 auto;
	padding-left: 10px;
}

.logo h2 {
	width: 30px;
	height: 30px;
	font-size: 1em;
	font-weight: 400;
	float: right;
	position: relative;
	left: 70px;
	top: -15px;
	background: url(images/flag.png) no-repeat;
	background-size: 20px auto;
	text-align: right;
	padding-left: 30px;
	padding-top: 2px;
	font-size: 0.8em;
}

.description {
	font-size: 1.3rem;
	width: 55%;
	position: absolute;
	bottom: 35px;
	left: 2rem;
	background: url(images/saw.png) no-repeat;
	background-position: left center;
	background-size: 140px auto;
	padding-left: 170px;
}

h1 {
	font-weight: 400;
}

/* Header end */


/* Navigation */

nav {
	text-align: center;
	padding-top: 10px;
	position: relative;
	left: -25px;
}

header nav a {
	height: 60px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin-left:  5.1rem;
	padding-top: 40px;
	background-position: top center;
	font-size: 0.8em;
}

/* background-position need in each(!) a */

header nav a:nth-of-type(1) {
	background: url(images/world.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(2) {
	background: url(images/calendar.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(3) {
	background: url(images/star.png) no-repeat;
	background-position: top center;
	position: relative;
}

header nav a:nth-of-type(4) {
	background: url(images/search.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(5) {
	background: url(images/location.png) no-repeat;
	background-position: top center;
}

header nav a:nth-of-type(6) {
	background: url(images/key.png) no-repeat;
	background-position: top center;
}

/* Navigation end */


/* Main */

main {
	width: 100%;
	background: linear-gradient(to bottom, #251926, #c22e36);
	position: relative;
}

main h2 {
	font-weight: 400;
	margin-top: 25px;
	text-align: center;
}

.date {
	display: block;
	margin-top: 10px;
	font-size: 1.3em;
	text-align: center;
}

/* Main end */


/* Table */

.table {
	width: 65%;
	background: white;
	margin: 30px auto 0 auto;
	color: black;
	padding: 15px 0 15px 55px;
}

.table article {
	width: 100%;
	display: inline-block;
	margin-top: 1em;
}

h3 {
	width: 12%;
	min-width: 80px;
	height: 50px;
	float: left;
}

.weekday {
	font-size: 0.7em;
}

.time_block {
	width: 88%;
	height: 50px;
	float: right;
	position: relative;
}

.time {
	width: 70px;
	display: inline-block;	
	border-left: 1px #c22e36 solid;
	font-size: 1.3em;
	text-align: center;
}

.price_1 {
	width: 300px;
	height: 50px;
	position: relative;
	display: inline-block;
}

.price {
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 1px black solid;
	text-align: center;
	font-size: 0.8em;
	color: #c6444b;
}

.circle_1 {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 1px black solid;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -7px;
}

.circle_2 {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 1px black solid;
	display: inline-block;
	position: absolute;
	right: 0;
	top: -7px;
}

.price_2 {
	position: relative;
	left: -6px;
}

.price {
	transform: scaleX(1.03);
}

.price_inner_2 {
	width: 219px;
	transform: scaleX(1.063);
}

.price_3 {
	width: 75px;
	transform: scaleX(1.06);
	position: relative;
	left: -88.5px;
}

.price_inner_3 {
	transform-origin: 100% 0;
	transform: scaleX(1.081);
}

.price_4 {
	width: 20%;
	position: relative;
	left: -85px;
}

.price_1 span:nth-of-type(4) {
	color: #cdcdcd;
}

.table article:first-of-type {
	margin-top: 2em
}

.table article:last-of-type {
	margin-bottom: 2em
}

/* Table end */


/* Footer */

footer {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 4em;
	position: relative;
}

footer nav a {
	display: inline-block;
	margin: 0 4em;
	color: white;
	border-bottom: 2px #f34c55 solid;
	text-decoration: none;
}

footer .labirint {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.to_top {
	width: 100px;
	height: 100px;
	background: url(images/to_top.png);
	background-size: 100% auto;
	display: inline-block;
	position: absolute;
	right: 3.5%;
	bottom: 250px;
}

/* Footer end */