@media all and (min-width: 1000px) {
	header {
		background: url(images/bg_header.jpg) no-repeat;
		background-position: bottom;
		background-size: 100% auto;
	}
}

@media all and (min-width: 0) and (max-width: 1000px) {
	header {
		background: url(images/bg_header_min.jpg) no-repeat;
	}
	.quests_block {
		max-width: 100%;
		margin: 0 auto;
	}
}

@media all and (max-width: 1308px) {
	header {
		background-size: auto 100%;
	}
	footer nav a {
		display: inline-block;
		margin: 0 2em;
		color: white;
		border-bottom: 2px #f34c55 solid;
		text-decoration: none;
	}
	.quests_block {
		max-width: 92%;
		margin: 0 auto;
	}
	.schedule, .schedule_header, .schedule_footer {
		width: 100%;
	}
}

@media all and (max-width: 1219px) {
	.table {
		width: 80%;
	}
	.to_top {
		display: none;
	}
	.quests_block article {
		width: 31em;
	}
	.schedule {
		width: 100%;
	}
}

@media all and (max-width: 1200px) {
	.schedule {
		display: none;
	}
	main:before {
		display: none;
	}
	header {
		min-height: 1150px;
	}
}

@media all and (max-width: 1100px) {
	.table {
		width: 100%;
	}
	.price_4 {
		left: -83px;
	}
	.quests_block {
		max-width: 98%;
		margin: 0 auto;
	}
}

@media all and (max-width: 1040px) {
	nav a {
		margin-left: 3em !important;	
	}
	footer nav a {
		display: inline-block;
		margin: 10px 0 0 0;
		color: white;
		border-bottom: 2px #f34c55 solid;
		text-decoration: none;
	}
	.left_article {
		float: none;
		margin: 0 auto;
		top: 0 !important;
	}
	.right_article {
		float: none;
		margin: 0 auto;
		top: 0 !important;
	}
	.quests_block article {
		margin-bottom: 3em;
	}
	.bottom_quest {
		top: 0;
	}
	.third_quests {
		position: relative;
		top: 0
	}
	.present {
		display: inline-block;
		left: 0;
	}
	.pres {
		width: 50px;
		height: 100px;
		display: block;
		position: absolute;
	}
	.rectangle {
		display: none;
	}
	main article p {
		width: 100%;
	}
	.inf_1 p {
		margin-left: 0;
		float: none;
	}
	.inf_2 p {
		margin-right: 0;
		float: none;
	}
	.inf_3 p {
		margin-left: 0;
		float: none;
	}
	main h2 {
		text-align: center;
		font-size: 3em;
		position: relative;
		top: 1em;
		margin-bottom: -2em;
	}
	.quests_block article h2 {
		padding: 0;
		background: none;
	}
	header {
		margin-bottom: -3em;
		padding-bottom: 5em;
	}
}

@media all and (max-width: 850px) {
	main article p {
		width: 100%;
	}
	.inf_1 p {
		margin-left: 0;
		float: none;
	}
	.inf_2 p {
		margin-right: 0;
		float: none;
	}
	.inf_3 p {
		margin-left: 0;
		float: none;
	}
	.inf_description {
		width: 41em;
		height: 9em;
		display: inline-block;
		position: relative;
		left: 1.5em;
		top: 0.5em;
		font-size: 0.9em;
	}
}

@media all and (max-width: 780px) {
	.inf_description {
		width: 70%;
		height: 9em;
		display: inline-block;
		position: relative;
		left: 1.5em;
		top: 0.5em;
		font-size: 0.8em;
	}
}

@media all and (max-width: 679px) {
	nav a {
		margin-left: 1em !important;	
	}
	.quests_block article {
		width: 100%;
	}
	.quests_block {
		max-width: 100%;
	}
}

@media all and (max-width: 600px) {
	.inf_description {
		width: 100%;
		height: 9em;
		display: inline-block;
		position: relative;
		left: 1.5em;
		top: 0.5em;
		font-size: 0.8em;
	}
	main article p .inf_title {
		display: none;
	}
	.inf_2 .inf_description {
		float: left;
		left: 0em !important;
		top: 0.5em;
	}
	footer h2 {
		position: relative;
		top: 1.5em;
		font-size: 2em;
		text-align: center;
	}
	footer ul {
		width: 100%;
		position: relative;
		top: 4.5em;
	}
	footer iframe {
		width: 100%;
		height: 80vh;
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 0;
	}
}

@media all and (orientation: portrait) {
	footer iframe {
		width: 100%;
		height: 65vh !important;
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 3em;
	}
}

@media all and (max-width: 530px) {
	header nav {
		position: relative;
		left: 0;
	}
	nav a {
		margin-left: 0 !important;	
	}
	.logo h2 {
		left: -30px;
		top: 65px;
	}
	.description {
		font-size: 1.3rem;
		width: 100%;
		position: absolute;
		bottom: 35px;
		left: 0;
		background: none;
		background-position: left center;
		background-size: 140px auto;
		padding-left: 10px;
	}
	.quests_block {
		top: -1em;
	}
	.quests_block article {
		margin-top: -1em !important;
	}
	footer ul {
		width: 100%;
		position: relative;
		top: 4em;
		font-size: 0.9em;
		margin-bottom: -5em;
	}
	footer li {
		font-size: 2em;
		margin-top: 0.3em;
		margin-left: 0.5em;
		list-style: none;
		text-align: left;
	}
}

@media all and (max-width: 480px) {
	
	.header_quest_description {
		height: 70px;
		background: none !important;
		position: absolute;
		left: 7%;
		bottom: 35%;
		padding-left: 0;
	}
}

@media all and (max-width: 400px) {
	.schedule_mobile article {
		width: 100%;
		height: 50px;
	}
}

@media all and (max-width: 420px) {
	
}

@media all and (max-width: 385px) {
	header nav {
		position: relative;
		left: 0;
	}
	nav a {
		margin-bottom: -15px
	}
	.logo {
		background-size: 250px auto;
		margin: -1em auto 0 auto;
		padding-left: 0;
		position: relative;
		left: 20px;
	}
	.logo h2 {
		left: -60px;
		top: 65px;
	}
	.inf_description {
		width: 100%;
		height: 9em;
		display: inline-block;
		position: relative;
		left: 1.5em;
		top: 0.5em;
		font-size: 0.75em;
	}
	.wizard h2 {
		font-size: 1.5em;
	}
	footer li {
		font-size: 1.7em;
		margin-top: 0.3em;
		margin-left: 0.5em;
		list-style: none;
		text-align: left;
	}
	.schedule_mobile article {
		width: 100%;
		height: 50px;
		font-size: 0.9em;
	}
}

@media all and (max-width: 320px) {
	
}

